<div style="position: relative" *ngIf="leaves !== undefined && leaves.length > 0">
  <h3 style="width: 70%; margin: 60px auto 0px">Les congés du collaborteurs</h3>
  <table class="table table-striped table-dark" style="width: 70%; margin: 50px auto 0px">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nom</th>
      <th scope="col">Equipe</th>
      <th scope="col">Date début</th>
      <th scope="col">Date fin</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let leave of leaves">
      <th scope="row">{{leave.id}}</th>
      <td>{{leave.user.name}}</td>
      <td>{{leave.user.team}}</td>
      <td>{{leave.dateDepart}}</td>
      <td>{{leave.dateFin}}</td>
    </tr>
    </tbody>
  </table>
</div>
